.root {
    -fx-font-size: 18;
}

.button {
    -fx-background-color: gold;
}

.button:hover {
    -fx-background-color: #ffbb00;
    -fx-font-size: 19;
    -fx-font-weight: bold;
}

.text-area {
    -fx-control-inner-background: #f4f1bd;
    -fx-text-fill: blue;
    -fx-highlight-text-fill: aqua;
    -fx-highlight-fill: #fff816;
}